# Compiled
/dist
/build

# Dependencies
/node_modules

# Environment variables / secrets
.env
.env.production
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.code-workspace

# Uploads
/uploads

